// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
/*$neon-yellow: #C3E022;*/
$neon-green: #6FD520;
$purple: #AE6EA8;
$yellow-gaps: #D0BE59;
$pink: #DD7F98;
$neon-orange: #F0751E;
$green-gaps: #4E9587;
$neon-red: #F43419;
$red-gaps: #97172E;
$fogg: #979DBB;
$pale-orange: #FAB027;


