<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @cocktail.photo.key %>');">
  <div class="container">
    <h1><%= @cocktail.name %></h1>
    <a class="btn btn-danger" href="#">Edit Ingredients</a>
  </div>
</div>

<div class="container">
  <% @cocktail.doses.each do |dose| %>
    <% @cocktail.ingredients.each do |ingredient| %>
      <p><%= "#{ingredient.name}: #{dose.description}" %></p>
    <% end %>
  <% end %>

  <p><%= link_to "go back", root_path %></p>
</div>
