<h1><%= @cocktail.name %></h1>

<ul>
  <% @cocktail.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %> </li>
  <% end %>
  <% @cocktail.doses.each do |dose| %>
    <li><%= dose.description %></li>
  <% end %>
</ul>





<p><%= link_to "go back", root_path %></p>
