// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  background-color: $neon-yellow;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  background: $purple;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.container.banner {
  border-style: solid;
  border-width: 40px;
  border-color: $neon-green;
}

.gaps.yellow {
  border-style: solid;
  border-width: 5px;
  border-color: $yellow-gaps;
}
